#ignore the following dirs
/SonicWalkingTour/SonicWalkingTour/bin*
/SonicWalkingTour/SonicWalkingTour/obj*
/SonicWalkingTour/SonicWalkingTour.iOS/bin*
/SonicWalkingTour/SonicWalkingTour.iOS/obj*
/SonicWalkingTour/SonicWalkingTour.Android/bin*
/SonicWalkingTour/SonicWalkingTour.Android/obj*
/SonicWalkingTour/.vs/SonicWalkingTour/xs*
/.vs/*
/SonicWalkingTour/.DS_Store*
.DS_Store

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/
*.userprefs
.packages
packages/

#SonicWalkingTour/SonicWalkingTour/SonicWalkingTour.iOS/obj