/SonicWalkingTour/bin/*
/SonicWalkingTour/obj/*
/SonicWalkingTour.iOS/bin/*
/SonicWalkingTour.iOS/obj/*
/SonicWalkingTour.Android/bin/*
/SonicWalkingTour.Android/obj/*
/.vs/SonicWalkingTour/xs/*
/.vs/*
/SonicWalkingTour/.DS_Store*
